@font-face {
  font-family: 'Galano Classic';
  src: url('/fonts/GalanoClassic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Galano Classic';
  src: url('/fonts/GalanoClassic-Bold.woff2') format('woff2'); /* Jika ada versi bold */
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Tambahkan untuk varian lain (medium, light, italic) jika Anda memilikinya */